@font-face {
    font-family: 'Cloud World';
    src: url('CloudWorld.tff');
    src: local('Cloud World'), url('CloudWorld.ttf') format('truetype');
}
.navglobal {
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    max-height: 44px;
    height: 44px;
    background: #ffffff;
    margin: 0;
    width: 100%;
    user-select: none;
    border: none;
    position: fixed;
 }
body, html{
    height: 100% !important;
    font-family: 'Hind', sans-serif !important;
    background-color: #f1f1f1;
}
.navglobal > ul {
    font-size: 16px;
    list-style-type: none;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    top: -5px;
    font-family: 'Hind', sans-serif !important;
    padding-left: 0px;
}
.navglobal > ul > li{
    display: inline;
}
.navglobal > ul > li > a{
    color: #003a7f;
    text-decoration: none;
    font-weight: 300;
    margin-right: 60px;
    transition: 0.3s;
    font-family: 'Hind', sans-serif !important;
}
.navglobal > ul > li > a:hover {
    color: #b1b1b1;
    transition: 0.3s;
}
.navglobal > .brand  { 
   position: fixed;
   left: 150px;  
   top:2px;
}
.brand > a > img{
    width:40px;
    height: 40px;
}
.navglobal > .brand > h1:hover {
   color: #b1b1b1;
   transition: 0.2s;
}
.hero-image {
    background-image: url('../images/latinux_image.png');
    height: 80%;
    top: 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 10%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    line-height: 1.5px;
}
#footer {
    background-color: #101010;
    font-weight: 300;
    color: white!important;
    font-size: 17px;
    line-height: 50px;
    text-align:center;
}
#img_footer{
    width: 225px;
    height: 225px;
}
.col-md-4 > ul > li > a{
    text-decoration: none!important;
    color:white;
    transition: 0.2s;
}
.col-md-4 > ul > li > a:hover{
    text-decoration: none !important;
    color: gray;
    transition: 0.2s;
}
#social {
    color: white;
    text-align: center;
    margin-top: -40px;
}
#social > .col-md-4 > a {
    display:inline-block;
    margin-left: 25px;
    font-size: 20px;
    transition: 0.2s;
    cursor:pointer;
}
#social > .col-md-4 {
    vertical-align: middle;
    text-align: center;
}
#social > .col-md-4 > h4{
    padding-top: 6px;
}
#ul_footer > li{
    display: inline;
    list-style-type: none;
}
#ul_footer {
    padding: 0px;
    margin-top: -50px;
    display : block;
    margin-bottom: 105px;
}
#ul_footer > li > a{
    text-decoration: none;
    color: #9d9d9d;
    transition: 0.2s;
    margin-left: 40px;
}
#ul_footer > li > a:hover{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
#social > .col-md-4 > a{
	color:white;
	transition: 0.2s;
}
#social > .col-md-4 > a:hover{
	color: grey;
	transition: 0.2s;
}
